<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="teamName-addon">Team Name</span>
    </div>
    <input type="text" name="teamName" class="form-control" id="teamName" placeholder="Team Name" required autofocus>
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Cluster Domain</span>
    </div>
    <input type="text" name="clusterDomain" class="form-control" id="clusterDomain" value="{page.clusterDomain}" required>
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2">Git Server</span>
    </div>
    <input type="text" name="gitServer" class="form-control" id="gitServer" value="{page.gitServer}" required>
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Git User</span>
    </div>
    <input type="text" name="gitUser" class="form-control" id="gitUser" value="{page.gitUser}" required>
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon4">Git Password</span>
    </div>
    <input type="password" name="gitPassword" class="form-control" id="gitPassword" value="{page.gitPassword}" required>
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon5">OCP Admin User</span>
    </div>
    <input type="text" name="ocpAdminUser" class="form-control" id="ocpAdminUser" value="{page.ocpAdminUser}" required>
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon6">OCP Admin Password</span>
    </div>
    <input type="password" name="ocpAdminPassword" class="form-control" id="ocpAdminPassword" value="{page.ocpAdminPassword}" required>
</div>
