<div>
    <br/>
    <p>This application allows system admins to control the creation and deletion of team assets for TL500.</p>

    <p>It uses the <strong>tech-exercise</strong> test harness to recreate assets. You can specify which exercise you would like your team fast forwarded to.<p>

    <p>You can run multiple jobs at the same time, however if you do create multiple teams at the same time, use a different <strong>git user</strong> for each team as the gitlab user tokens are cleared at the start of each run by the test harness.</p>
</div>
